@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/bellarosta');
                
:root {
    --primary-color: #E6533C;
}
* {
    margin: 0px;
    font-family: inter;
}
body {
    background-color: black;
}
h1{
    Font-weight: 900;
    Font-size: 78px;
    color: #FFFFFF;
}
h2 {
    Font-weight: 900;
    font-size: 48px;
    color: #FFFFFF;
}
h3 {
    Font-weight: 900;
    font-size: 32px;
    color: #FFFFFF;
}
h4 {
    Font-weight: 900;
    font-size: 28px;
    color: #FFFFFF;    
}
h5 {
    Font-weight: 900;
    font-size: 24px;
    color: #FFFFFF;    
}
p {
    Font-weight: 400;
    font-size: 18px;
    color: #FFFFFF80;
}
.primary-btn {
    padding: 10px 20px;
    color: #FFFFFF;
    border-radius: 42px;
    background-color: var(--primary-color);
    border: none;
}
.primary-btn2 {
    padding: 10px 20px;
    color: #FFFFFF;
    border-radius: 42px;
    background-color: #00000000;
    border: none;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 10px;
}
.extra-column {
    width: 20%;
}
.margin-txt {
    margin-bottom: 15px;
}

/* header */
header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 400%);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    padding: 30px 0px;
    text-align: center;
}
ul >li {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    padding: 10px 15px;
}
.logo {
    font-style: italic;
    font-size: 36px;
    color: var(--primary-color);
}
.main-menu {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.menu-home {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
}
/* hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 100px;
}
.hero-content {
    display: flex;
    flex-direction: column;  
    max-width: 70%;
    margin-bottom: 25px;
}
.hero-content >h1{
    margin-bottom: 10px;
}
.hero-btn {
    display: flex;
}
.hero-img-contain {
    margin: -5px;

}
.hero-min {
    display: flex;
    
}
.hero-min1 {
    margin-top: -200px;
    margin-left: -50px;  
}
.hero-round-icon {
    height: 30px;
    width: 30px;
    background-color: #E6533C;
    border-radius: 50px;
    margin-right: 4px;
}
.hero-min-min {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: #3030308A;
    width: 160px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-min2 {
    margin-top: -420px;
    margin-left: 60px;
}
.hero-min-min-2 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: #3030308A;
    width: 140px;
    height: 70px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 20px;
}
/* header end*/
.change-your-habit {
    display: flex;
    background-color: black;
    flex-direction: column;
    text-align: center;
    padding: 0px 50px;
    padding-bottom: 70px;
}
.change-your-habit-content{
    margin-top: 50px;
    justify-content: center;

}
.change-your-habit-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.change-your-habit-box {
    padding: 10px;
}
.img-border {
    border-radius: 100px;
    border: 2px solid beige;
    margin-bottom: 10px;
}
/* change-your-habit-box ends */
.run-extra-mile-section {
    background: black;
    padding-bottom: 70px;
}
.run-extra-mile {
    height: 400px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    border-radius: 18px;
    background: #222222;
    margin: 0px 50px;
}
.run-extra-mile-conten{
    max-width: 50%;
    padding: 40px 0px 40px 40px;   
    /* margin-right: 50px; */
}
.run-extra-mile-conten > button {
    margin: 20px 0px;
    padding: 14px 40px;
}
.run-extra-mile-conten-img {
    padding: 40px 40px 40px 0px;
    width: 30%;
    width: 366px;
}
.run-extra-mile-img {
    border-radius: 10px;
    height: 300px;
    width: 366px;
    /* padding: 40px 54px 40px 0px; */

}
/* run-extra-mile-section-end */
.bmi-calculator {
    height: 480px;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bmi-calculator p {
    font-size: 14px;
}
.bmi-calculator-div-1 h5 {
    margin-bottom: 60px;
}
.bmi-calculator-div-2 {
    
}
/* bmi-calculator ends */
table {
    border-collapse: collapse;
    margin-top: 15px;
  }
th, td {
border: 1px solid #FFFFFF1A;
text-align: left;
padding: 5px;
color: #FFFFFF80;
}
.form-main {
    margin-top: 15px;
    
}
.form-css {
    height: 28px;
    border-radius: 8px;
    background: #FFFFFF1A;
    border: none;
    padding: 6px 10px 6px 10px;
    color: #FFFFFF99;
}
.form-margin {
    margin-bottom: 5px;
}
.form-css-selector-gender {
    width:49%;
    height: 40px;
    border-radius: 8px;
    background: #FFFFFF1A;
    border: none;
    padding: 6px 10px 6px 10px;
    color: #FFFFFF99;
}
.form-css-selector-activity {
    width:100%;
    height: 40px;
    border-radius: 8px;
    background: #FFFFFF1A;
    border: none;
    padding: 6px 10px 6px 10px;
    color: #FFFFFF99;
    margin-bottom: 5px;
}

/* meet our team */
.team-img-div {
    position: relative;
}
.meet-content {
    margin: 80px auto;
    width: 50%;
    text-align: center;
}

.team-img {
    height: 100%;
    width: 100%;
    border-radius: 18px;
}
.meet-our-team-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.meet-our-team-section-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: #222222;
    max-width: 85%;
    margin: 0 auto;
    border-radius: 18px;
    padding: 20px;
}
footer {
    background: #222222;
    margin-top: 50px;
    
}
.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 70px;
}
.footer-div1 {
    width: 50%;
    margin-right: 50px;
}
.footer-div1 >h2 {
    margin-bottom: 15px;
}
.footer-div2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.footer-widget2 {
}
.footer-widget2 >a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #FFFFFF80;
    padding: 3px;
}
.footer-widget3 {
    
}
.footer-widget3 >a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #FFFFFF80;
    padding: 3px;
}
.footer-widget4 {
    padding: 0px 50px;
}
.footer-h2 {
    margin-bottom: 15px;
}
.copy {
    display: flex;
    justify-content: center;
    padding: 15px;
}

@media screen and (min-width: 993px) {
    .hamberger {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    h1{
        Font-weight: 900;
        Font-size: 36px;
        color: #FFFFFF;
    }
    h2 {
        Font-weight: 900;
        font-size: 48px;
        color: #FFFFFF;
    }
    h3 {
        Font-weight: 900;
        font-size: 32px;
        color: #FFFFFF;
    }
    h4 {
        Font-weight: 900;
        font-size: 28px;
        color: #FFFFFF;    
    }
    h5 {
        Font-weight: 900;
        font-size: 24px;
        color: #FFFFFF;    
    }
    p {
        Font-weight: 400;
        font-size: 18px;
        color: #FFFFFF80;
    }
    .primary-btn {
        padding: 10px 20px;
        color: #FFFFFF;
        border-radius: 42px;
        background-color: var(--primary-color);
        border: none;
    }
    .primary-btn2 {
        padding: 10px 20px;
        color: #FFFFFF;
        border-radius: 42px;
        background-color: #00000000;
        border: none;
        border: 1px solid rgb(255, 255, 255);
        margin-left: 10px;
    }
    body {
        background-color: black;
    }
    
    /* header */
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 40px;
        padding: 30px 0px;
        text-align: center;
    }
    
    .logo {
        font-style: italic;
        font-size: 36px;
    }
    .main-menu {
        display: none;
        
    }
    /* hero */
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 20px;
    }
    .hero-content {
        display: flex;
        flex-direction: column;  
        margin-bottom: 25px;
        max-width: 90%;
    }
    .hero-content >h1{
        margin-bottom: 10px;
    }
    .hero-btn {
        display: flex;
    }
    .hero-img-contain {
        margin: -5px;
    
    }
    .hero-min {
        display: flex;
        
    }
    .hero-min1 {
        margin-top: -300px;
        margin-left: 0px;  
    }
    .hero-round-icon {
        height: 30px;
        width: 30px;
        background-color: #E6533C;
        border-radius: 50px;
        margin-right: 4px;
    }
    .hero-min-min {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: #3030308A;
        width: 150px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-min2 {
        margin-top: -420px;
        margin-left: 60px;
    }
    .hero-min-min-2 {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: #3030308A;
        width: 110px;
        height: 70px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        padding-left: 20px;
    }
    .change-your-habit {
        display: flex;
        background-color: black;
        justify-content: center;
        text-align: center;
        padding: 0px 50px;
    }
    .change-your-habit-content{
        margin-top: 50px;
    }
    .change-your-habit-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .change-your-habit-box {
        padding: 10px;
    }
    .img-border {
        border-radius: 100px;
        border: 3px solid beige;
    }
    /* change-your-habit-box ends */
    .run-extra-mile-section {
        background: black;
    }
    .run-extra-mile {
        height: 680px;
        background: rgb(139, 129, 129);
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        margin: 50px 10px 30px 10px;
    }
    .run-extra-mile-conten{
        max-width: 100%;
        padding: 10px 20px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .run-extra-mile-img {
        border-radius: 10px;
        height: 200px;
        width: auto;
        position: relative;
        left: 30px;
    }
    .run-extra-mile-conten-img {
        padding: 0px;
        width: 30%;
        width: 366px;
    }
    .bmi-calculator {
        height: 680px;
        background: #222222;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bmi-calculator p {
        font-size: 14px;
    }
    .bmi-calculator-div-1 h5 {
        margin-bottom: 60px;
    }
    .bmi-calculator-div-2 {
        margin-top: 30px;
        text-align: center;
        max-width: 320px;
    }
    /* bmi-calculator ends */
    table {
        border-collapse: collapse;
        margin-top: 15px;
      }
    th, td {
    border: 1px solid #FFFFFF1A;
    text-align: left;
    padding: 5px;
    color: #FFFFFF80;
    }
    .form-main {
        margin-top: 15px;
        
    }
    .form-css {
        height: 28px;
        border-radius: 8px;
        background: #FFFFFF1A;
        border: none;
        padding: 6px 10px 6px 10px;
        color: #FFFFFF99;
    }
    .form-css1{
        max-width: 136px;
        margin-right: 4px;
    }
    .form-css2{
        max-width: 136px;
    }
    .form-css3{
        max-width: 136px;
        margin-right: 4px;
    }
    .form-margin {
        margin-bottom: 5px;
        display: flex;
    }
    .form-css-selector-gender {
        width: 49%;
        height: 40px;
        border-radius: 8px;
        background: #FFFFFF1A;
        border: none;
        padding: 6px 10px 6px 10px;
        color: #FFFFFF99;
    }
    .form-css-selector-activity {
        width:99%;
        height: 40px;
        border-radius: 8px;
        background: #FFFFFF1A;
        border: none;
        padding: 6px 10px 6px 10px;
        color: #FFFFFF99;
        margin-bottom: 5px;
    }
    .brtag {
        display: none;
    }
}

@media screen and (min-width:576px) and (max-width: 992px) {
    h1{
        Font-weight: 900;
        Font-size: 38px;
        color: #FFFFFF;
    }
    h2 {
        Font-weight: 900;
        font-size: 48px;
        color: #FFFFFF;
    }
    h3 {
        Font-weight: 900;
        font-size: 32px;
        color: #FFFFFF;
    }
    h4 {
        Font-weight: 900;
        font-size: 28px;
        color: #FFFFFF;    
    }
    h5 {
        Font-weight: 900;
        font-size: 24px;
        color: #FFFFFF;    
    }
    p {
        Font-weight: 400;
        font-size: 18px;
        color: #FFFFFF80;
    }
    .primary-btn {
        padding: 10px 20px;
        color: #FFFFFF;
        border-radius: 42px;
        background-color: var(--primary-color);
        border: none;
    }
    .primary-btn2 {
        padding: 10px 20px;
        color: #FFFFFF;
        border-radius: 42px;
        background-color: #00000000;
        border: none;
        border: 1px solid rgb(255, 255, 255);
        margin-left: 10px;
    }
    
    /* header */
    header {
        background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 400%);
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 50px;
        padding: 30px 0px;
        text-align: center;
    }
    ul >li {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        list-style: none;
        padding: 10px 15px;
    }
    .logo {
        font-style: italic;
        font-size: 36px;
    }
    .main-menu {
        display: flex;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 39px;
        padding: 4px;
        text-align: center;
        justify-content: center;
        align-items: center;
    
    }
    
    .menu-home {
        border-radius: 46px;
        background: rgb(230, 83, 60);
        padding: 8px 20px 8px 20px;
    }
    /* hero */
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 50px;
    }
    .hero-content {
        display: flex;
        flex-direction: column;  
        max-width: 50%;
        margin-bottom: 25px;
    }
    .hero-content >h1{
        margin-bottom: 10px;
    }
    .hero-btn {
        display: flex;
    }
    .hero-img-contain {
        margin: -5px;
    
    }
    .hero-min {
        display: flex;
        
    }
    .hero-min1 {
        margin-top: -200px;
        margin-left: -50px;  
    }
    .hero-round-icon {
        height: 30px;
        width: 30px;
        background-color: #E6533C;
        border-radius: 50px;
        margin-right: 4px;
    }
    .hero-min-min {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: #3030308A;
        width: 160px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-min2 {
        margin-top: -420px;
        margin-left: 60px;
    }
    .hero-min-min-2 {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: #3030308A;
        width: 140px;
        height: 70px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        padding-left: 20px;
    }
    /* header end */
}